.finButton {
    background-color: #846058;
    color: #EAE5E1 !important;
    position: fixed;
    font-size: 30px;
    font-family: 'Lato';
    font-weight:700;
    padding: 5px 32px;
    border: none; 
    text-align: center;
    left: 10%;
    bottom: 20%;
    width: 15%;
    height: auto;
    border-radius: 30px;
    radius: 100px;
}

.hoverdetails {
    /* width: 300px; */
    width: fit-content;
    height: fit-content;
    text-align: center;
}

.hoverdetails:hover .detailsbox {
    width: 300px;
    visibility:visible;
    /* position: absolute; */
}

.detailsbox {
    position:absolute;
    visibility: hidden;
    right: 380px;
    transform:translateY(-100px);
    background-color: #EAE5E1;
    border: 5px solid #846058;
}

.hoverdetails:hover .type {
    font-family: Roboto;
    font-size: 28px;
    font-weight: 700;
    color: #846058
}

.hoverdetails:hover .bold {
    font-family: Roboto;
    font-weight: 700;
    color: #846058;
}

.hoverdetails:hover .text {
    font-family: Roboto;
    color: #846058;
}

.bold, .text {
    display: inline-block;
}

.line  {
    background-color: #846058;
    position: absolute;
    height: 5px;
    width: 160px;
    top: 50%;
    left: 290px;
}

.outfit-holder {
    min-width: 300px;
    height: 468px;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    position: absolute;
    bottom: 20%;
  }

  .hat img {
      width: 75px;
      margin-top: -50px;
      border-color: #D4C7BE;
      border-radius: 6px;
      visibility: visible;
  
  }

  .top img {
      width: 125px;
      border-color: #D4C7BE;
      border-radius: 6px;
      /* margin-bottom: 10%; */
      visibility: visible;
      
  }

  .bottom img{
      width: 150px;
      border-color: #D4C7BE;
      border-radius: 6px;
      margin-bottom: 5%;
      visibility: visible;
    
  }

  .accessory img {
      position: absolute;
      top: -200px;
      right: -140px;
      width: 100px;
      border-color: #D4C7BE;
      border-radius: 6px;
      visibility: visible;
  }

  .shoes img {
      width: 80px;
      border-color: #D4C7BE;
      border-radius: 6px;
      /* margin-top: -20%; */
      margin-bottom: -50px;
      visibility: visible;
  }