.circle {
  width: 35px;
  height: 35px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  border: 5px solid #CCAE9A;
}

.palette {
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 60px;
  border: 5px solid #CCAE9A;
  border-radius: 30px;
  margin-bottom: 20px;

}

.palette-selected {
  background-color: #CCAE9A;
}

/* Palette Colors */

#p1-c1 {
  background: #2B2D42;
}

#p1-c2 {
  background: #8D99AE;
}

#p1-c3 {
  background: #EDF2F4;
}

#p1-c4 {
  background: #EF233C;
}

#p1-c5 {
  background: #D90429;
}