{% load static %}

<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" type="text/css" href="{% static 'fittingroom/vendor/bootstrap/css/bootstrap.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'fittingroom/style.css' %}" />
      
      <script type="text/javascript" src="{% static 'fittingroom/vendor/jquery/jquery-3.3.1.min.js' %}"></script>

    </head>


    <body>
      <div id="main-content" class="d-flex flex-column">
        <div id="title-box" class="d-flex flex-column">
          <h1>Fitting Room</h1>
        </div>
        <div id="drop-flex" class="d-flex flex-column">
          <h2>Choose your aesthetic</h2>
          <div class="dropdown">
            <img src= "{% static 'images/down-arrow.svg' %}">
          </div>
        </div>
      </div>

      <a href="/fittingroom/room" class="btn finButton">
        Share!
      </a>

    </body>
    <script>
      // SEND SOCKET WITH NEWCARD = TRUE

      var socket = new WebSocket(
        'ws://' + window.location.host + '/ws/fittingroom');

      var uid = Date.now() % 10000;

      function submitCard() {
          var clothes = {
              "hat": "sun hat",
              "top": "dress",
              "bottom": "",
              "shoes": "heels"
          };

          var card = {
              "type": "card",
              "uid": uid,
              "clothes": clothes,
              "newCard": true
          };
          socket.send(JSON.stringify(card));
         
      }


      $( ".btn.finButton" ).click(function() {
        submitCard();
      });
      
      socket.onclose = function(e) {
          console.error('Chat socket closed unexpectedly');
      };


    </script>
</html>
