{% load static %}

<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" type="text/css" href="{% static 'fittingroom/vendor/bootstrap/css/bootstrap.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'fittingroom/style.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'fittingroom/pre-select-styles.css' %}" />
      
      <script type="text/javascript" src="{% static 'fittingroom/vendor/jquery/jquery-3.3.1.min.js' %}"></script>

    </head>


    <body>
      <div id="main-content" class="d-flex flex-column">
        <h3>Clothing Details</h3>
        <div class="outfit-holder d-flex flex-column">
          <div class="hat">
            <img src="{% static 'images/fandora.jpeg' %}">
          </div>
          <div class="top">
            <img src="{% static 'images/Untitled.png' %}">
          </div>
          <div class="bottom">
            <img src="{% static 'images/Untitled.png' %}">
          </div> 
          <div class="accessory">
            <img src="{% static 'images/Untitled-6.png' %}">
          </div> 
          <div class="shoes">
            <img src="{% static 'images/Untitled-13.png' %}">
          </div>
        </div>
      </div>

      <!-- <label for="username">Name:</label>
      <input type="text" id="username"> -->

      

      <a href="/fittingroom/room" id = "share" class="btn finButton">
        Share!
      </a>

    </body>
    <script>
      // SEND SOCKET WITH NEWCARD = TRUE

      var socket = new WebSocket(
        'ws://' + window.location.host + '/ws/fittingroom');

      var uid = Date.now() % 10000;

      function submitCard() {
        var mainDiv = document.getElementById('main-content').getElementsByClassName('outfit-holder');

        var hat = mainDiv[0].children[0].children[0].src;
        var top = mainDiv[0].children[1].children[0].src;
        
        if (mainDiv[0].children.length == 5) {
          var bottom = mainDiv[0].children[2].children[0].src;
        }
      
        var accessory = mainDiv[0].children[3].children[0].src;
        var shoes = mainDiv[0].children[4].children[0].src;

        var clothes = {
          "hat":hat,
          "top": top,
          "bottom": bottom,
          "accessory": accessory,
          "shoes": shoes
        }

        var card = {
            "type": "card",
            "uid": uid,
            "clothes": clothes,
            "newCard": true
        };
        socket.send(JSON.stringify(card));
         
      }


      $( "#share" ).click(function() {
        submitCard();
      });
      
      socket.onclose = function(e) {
          console.error('Chat socket closed unexpectedly');
      };


    </script>
</html>
