{% load static %}

<!DOCTYPE html>
<html class="mx-5 mb-0 cork">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'fittingroom/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fittingroom/style.css' %}" />

    <script type="text/javascript" src="{% static 'fittingroom/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'fittingroom/vendor/paper/paper-full.min.js' %}"></script>

</head>
<body class="bg-transparent">
  <div class="my-5 p-0 text-center border border-dark rounded cyan">
    <h1 class="title lato">Berkeley Farmers' Market</h1>
    <h4>Community Bulletin Board</h4>
  </div>

  <div class="container-flex">
    <div class="row">
      <div class="col">
        <h2 class="py-5 text-center border border-dark rounded caveat yellow">Recommendations!</h2>

          <!-- <div class="container-flex">
            <div class="row no-gutters">
              <div class="col flex-column" id=first>
                <div class="sticky-note">OK</div>
                <div class="sticky-note">i kinda went sicko mode</div>
                <div class="sticky-note">sorry</div>
                <div class="sticky-note">that mb</div>
              </div>
            </div>
          </div> -->
          <div id="first">
            <div class="sticky-note">Wow, definitely check out this year's strawberries!</div>
            <!-- <div class="sticky-note">i kinda went sicko mode</div>
            <div class="sticky-note">sorry</div> -->
          </div>

      </div>
      <div class="col">
        <h2 class="py-5 text-center border border-dark rounded caveat pink">How was your experience?</h2>

        <div class="container-flex">
          <div class="row no-gutters">
            <div class="col flex-column" id=second>
              <!-- <div class="sticky-note">but hey</div>
              <div class="sticky-note">it works</div>
              <div class="sticky-note">it looks ok</div>
              <div class="sticky-note">no?</div> -->
            </div>
          </div>
        </div>

      </div>
      <div class="col">
        <h2 class="py-5 text-center border border-dark rounded caveat bg-warning">Anything you want!</h2>

        <div class="container-flex">
          <div class="row no-gutters">
            <div class="col flex-column" id=third>
              <!-- <div class="sticky-note">i know</div>
              <div class="sticky-note">the amount of bootstrap</div>
              <div class="sticky-note">hard to read</div>
              <div class="sticky-note">just msg me</div> -->
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <form onsubmit="submitText()" class="mb-4">
    <div class="form-group">
      <label for="msg"><h3>Add a sticky note!</h3></label>
      
      <textarea class="form-control" id="msg" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-secondary mb-2">Submit</button>
  </form>

  <div id = "chat">

  </div>

</body>
<script>
    var noteList = new Map();
    var uid = Date.now() % 10000;

    var socket = new WebSocket(
        'ws://' + window.location.host + '/ws/fittingroom/?');

    function submitText() {
        var text = {
            "type": "text",
            "text": document.getElementById("msg").value,
            "option": document.getElementById("textOption").value
        };
        socket.send(JSON.stringify(text));
    }

    socket.onmessage = function(receivedMessage) {
        console.log(receivedMessage)
        var received = JSON.parse(receivedMessage.data);
        
        console.log(received);
        console.log("socket receiving");

        if (received.type == "text") {
            var sticky_note = document.createElement("div");
            sticky_note.classList.add("sticky-note");
            var message = document.createTextNode(received.text);
            sticky_note.appendChild(message);
            var element= document.getElementById("id");
            element.appendChild(sticky_note);
        }
    }
    
    socket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };


</script>
</html>
