{% load static %}

<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" type="text/css" href="{% static 'fittingroom/vendor/bootstrap/css/bootstrap.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'fittingroom/style.css' %}" />
    </head>


    <body>
      <div id="main-content" class="d-flex flex-column">
        <div id="title-box" class="d-flex flex-column">
          <h1>Fitting Room</h1>
        </div>
        <div id="drop-flex" class="d-flex flex-column">
          <h2>Choose your aesthetic</h2>
          <div id="menu" class="cover dropdown d-flex flex-column">
            <div class="icons">
              <img src= "{% static 'images/down-arrow.svg' %}" onClick="toggleStyles()">
            </div>
            <div id="options" class="style-content hidden d-flex flex-row">
              <div class="checklist-holder">
                <label class="container">
                  <p>Academia</p>
                  <input type="checkbox" checked="checked">
                  <span class="checkmark"></span>
                </label>
                <label class="container">
                  <p>Cottagecore</p>
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
                <label class="container">
                  <p>E-Boy/E-Girl/E-Kid</p>
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
                <label class="container">
                  <p>Soft Boy/Soft Girl</p>
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
                <label class="container">
                  <p>Streetwear</p>
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
                <!-- extra -->
                <label class="container">
                  <p>Vintage</p>
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
                <label class="container">
                  <p>smthsmth</p>
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
                <label class="container">
                  <p>smthsmth</p>
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="palette-holder">
                <!-- palettes -->
                <li>this is filler text</li>
                <li>this is filler text</li>
              </div>
          </div>
          </div>
        </div>
      </div>

      <div class="container-flex">
        <div class="d-flex flex-row navBar">
          <div class ="col-3 navButton selectedNav">
            <p>HOME</p>
            <img src= "{% static 'images/house.svg' %}">
          </div>
          <div class = "col-3 navButton">
            <p>OUTFIT</p>
            <img src= "{% static 'images/hanger.svg' %}">
          </div>
          <div class = "col-3 navButton">
            <p>ROOM</p>
            <img src= "{% static 'images/curtain.svg' %}">
          </div>
          <div class = "col-3 navButton">
            <p>RESOURCES</p>
            <img src= "{% static 'images/leaf.svg' %}">
          </div>
        </div>
      </div>

      <script type="text/javascript" src="{% static 'fittingroom/script.js' %}"></script>
    </body>
</html>
