{% load static %}

<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" type="text/css" href="{% static 'fittingroom/vendor/bootstrap/css/bootstrap.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'fittingroom/style.css' %}" />
    </head>

    <style>
      .title{
        background-color: #D0B5A3;
        color: #EAE5E1;
        height: 50 px;
        width: 100 px;
        font-family: Roboto;
        font-style: Bold;
        font-size: 25px;
        text-align: center;

      }
    </style>

    <body>
      <div id="resources-content" class="container">
        <div id="resources-titles" class="row">
          <div class = "title flex-column">Recommended Brands
              <div> Brand1</div>
              <div> Brand2</div>
          </div>
          <div class = "title flex-column"> Recommended Products
              <div> Product1</div>
              <div> Product2</div>
          </div>
          <div class = "title column"> Learn More About Fashion
             <div> Learn1</div>
          ` <div> Learn2</div>
          </div>
       </div>
      </div>
       
       

      <div class="container-flex">
        <div class = "d-flex flex-row navBar">
          <div class = "col-4 navButton selectedNav">
            <a href =  "/fittingroom/main">
            <p>OUTFIT</p>
            <img src= "{% static 'images/hanger.svg' %}">
            </a>
          </div>
          <div class = "col-4 navButton">
            <a href = "/fittingroom/room">
            <p>ROOM</p>
            <img src= "{% static 'images/curtain.svg' %}">
            </a>
          </div>
          <div class = "col-4 navButton">
            <a href = "/fittingroom/resources">
            <p>RESOURCES</p>
            <img src= "{% static 'images/leaf.svg' %}">
            </a>
          </div>
        </div>
      </div>

    </body>
</html>
