{% load static %}

<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" type="text/css" href="{% static 'fittingroom/vendor/bootstrap/css/bootstrap.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'fittingroom/style.css' %}" />
      <script type="text/javascript" src="{% static 'fittingroom/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    </head>


    <body>
      <div id="main-content" class="d-flex flex-column users">
      </div>

      <div class="container-flex">
        <div class = "d-flex flex-row navBar">
          <div class ="col-3 navButton">
            <p>HOME</p>
            <img src= "{% static 'images/house.svg' %}">
          </div>
          <div class = "col-3 navButton">
            <p>OUTFIT</p>
            <img src= "{% static 'images/hanger.svg' %}">
          </div>
          <div class = "col-3 navButton selectedNav">
            <p>ROOM</p>
            <img src= "{% static 'images/curtain.svg' %}">
          </div>
          <div class = "col-3 navButton">
            <p>RESOURCES</p>
            <img src= "{% static 'images/leaf.svg' %}">
          </div>
        </div>
      </div>

    </body>
    <script>

      var cards = [];
      var uids = [];
      
      // if (newcard == true) {
      //   socket.send(newcard=false);
      // }
      // if (received.type == "card") {
      //   if (received.uid is not in uidlist) {
      //     addcard();
      //   }
      // }

      var socket = new WebSocket(
        'ws://' + window.location.host + '/ws/fittingroom');

    function submitText() {
        var text = {
            "type": "text",
            "uid": document.getElementById("name").value,
            "text": document.getElementById("msg").value
        };
        
        socket.send(JSON.stringify(text));
    }

    $( document ).ready(function() {
        var clothes = {
            "hat": "sun hat",
            "top": "dress",
            "bottom": "",
            "shoes": "heels"
        };
        var card = {
            "type": "card",
            "uid": "",
            "clothes": clothes,
            "newCard": false
        };
        socket.onopen = () => socket.send(JSON.stringify(card));
    });

    socket.onmessage = function(receivedMessage) {
        // console.log(receivedMessage);
        var received = JSON.parse(receivedMessage.data);
        console.log(received);
        console.log("socket receiving");

        if (received.type == "card") {
          cards.push(received);
          if (received.newCard) {
            var clothes = {
                "hat": "sun hat",
                "top": "dress",
                "bottom": "",
                "shoes": "heels"
            };
            var card = {
                "type": "card",
                "uid": cards[0].uid,
                "clothes": clothes,
                "newCard": false
            };
            socket.send(JSON.stringify(card));
          }
          
          if (!uids.includes(received.uid)) {
            console.log("YES");
            $(".users").append(received.clothes.hat);
            uids.push(received.uid);
          }
        // $(".users").append('<div>cards[cards.length].clothes.hat</div>')
        // for (var i = 0; i < cards.length; i++) {
        //   if (cards[i].uid = received.uid) {
        //     var hat = cards[i].clothes.hat
        //     $(".users").append(hat);
        //   }

        // }
        }
        
        

        

        // console.log(received);
        // console.log("socket receiving");

        // if (received.type == "text") {
        //     var bubble = document.createElement("div");
        //     bubble.classList.add("bubble");
        //     var message = document.createTextNode(received.uid +  ": " + received.text);
            
            
        //     bubble.appendChild(message);
        //     var element = document.getElementById("chat");
        //     element.appendChild(bubble);
        //     element.appendChild(document.createElement("br"));
        // }
    }
    
    socket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };
    </script>
</html>
