{% load static %}

<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" type="text/css" href="{% static 'fittingroom/vendor/bootstrap/css/bootstrap.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'fittingroom/style.css' %}" />
    </head>


    <body>
      <div id="menu" class="cover dropdown d-flex flex-column">
        <div class="icons">
          <img src= "{% static 'images/down-arrow.svg' %}" onClick="toggleStyles()">
        </div>
        <div id="options" class="style-content hidden d-flex flex-row">
          <div class="checklist-holder">
            <label class="container">
              <p>Hats</p>
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <label class="container">
              <p>Earpieces</p>
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <label class="container">
              <p>Neckpieces</p>
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <label class="container">
              <p>Handpieces</p>
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <label class="container">
              <p>Dresses</p>
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
      </div>
      <div id="main-content" class="d-flex flex-column">
        
      </div>

      <div class="container-flex">
        <div class = "d-flex flex-row navBar">
          <div class ="col-3 navButton">
            <p>HOME</p>
            <img src= "{% static 'images/house.svg' %}">
          </div>
          <div class = "col-3 navButton selectedNav">
            <p>OUTFIT</p>
            <img src= "{% static 'images/hanger.svg' %}">
          </div>
          <div class = "col-3 navButton">
            <p>ROOM</p>
            <img src= "{% static 'images/curtain.svg' %}">
          </div>
          <div class = "col-3 navButton">
            <p>RESOURCES</p>
            <img src= "{% static 'images/leaf.svg' %}">
          </div>
        </div>
      </div>

      <script type="text/javascript" src="{% static 'fittingroom/script.js' %}"></script>
    </body>
</html>
