{% load static %}

<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" type="text/css" href="{% static 'fittingroom/vendor/bootstrap/css/bootstrap.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'fittingroom/style.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'fittingroom/pre-select-styles.css' %}" />
      
      <script type="text/javascript" src="{% static 'fittingroom/script.js' %}"></script>
    </head>

    <body>
      <div id="title-holder">

      </div>
      <script type="text/javascript">
        writingTitle();
      </script>
      <!-- make based on selected themes -->
      <div id="main-content" class="d-flex flex-row scrollmenu">
        <div class="outfit-holder d-flex flex-column">
          <div class="hat">
            <img src="{% static 'images/athleisure/earthy/hat/1.png' %}">
          </div>
          <div class="top">
            <img src="{% static 'images/athleisure/earthy/top/1.png' %}">
          </div>
          <div class="bottom">
            <img src="{% static 'images/athleisure/earthy/bottom/2.png' %}">
          </div> 
          <div class="accessory">
            <img src="{% static 'images/athleisure/earthy/accessory/1.png' %}">
          </div> 
          <div class="shoes">
            <img src="{% static 'images/athleisure/earthy/shoes/1.png' %}">
          </div>                 
        </div>
        
        <div class="outfit-holder d-flex flex-column">
          <div class="hat">
            <!-- <img src="{% static 'images/athleisure/hat-athleisure-light-brown-1.png' %}"> -->
          </div>
          <div class="top">
            <img src="{% static 'images/athleisure/top-athleisure-light-brown-3.png' %}">
          </div>
          <div class="bottom">
            <img src="{% static 'images/athleisure/bottom-athleisure-light-brown-1.png' %}">
          </div> 
          <div class="accessory">
            <img src="{% static 'images/athleisure/accessory-athleisure-light-brown-1.png' %}">
          </div> 
          <div class="shoes">
            <img src="{% static 'images/athleisure/shoes-athleisure-light-brown-1.png' %}">
          </div>   
        </div>
        <div class="outfit-holder d-flex flex-column">
          <div class="hat">
            <img src="{% static 'images/athleisure/hat-athleisure-light-brown-2.png' %}">
          </div>
          <div class="top">
            <img src="{% static 'images/athleisure/top-athleisure-light-brown-2.png' %}">
          </div>
          <div class="bottom">
            <img src="{% static 'images/athleisure/bottom-athleisure-light-brown-2.png' %}">
          </div> 
          <div class="accessory">
            <img src="{% static 'images/athleisure/accessory-athleisure-light-brown-2.png' %}">
          </div> 
          <div class="shoes">
            <img src="{% static 'images/athleisure/shoes-athleisure-light-brown-2.png' %}">
          </div>     
        </div>  
        <div class="outfit-holder d-flex flex-column">
          <div class="hat">
            <img src="{% static 'images/athleisure/hat-athleisure-earthy-1.png' %}">
          </div>
          <div class="top">
            <img src="{% static 'images/athleisure/top-athleisure-blue-3.png' %}">
          </div>
          <div class="bottom">
            <img src="{% static 'images/athleisure/bottom-athleisure-earthy-2.png' %}">
          </div> 
          <div class="accessory">
            <img src="{% static 'images/athleisure/accessory-athleisure-earthy-2.png' %}">
          </div> 
          <div class="shoes">
            <img src="{% static 'images/athleisure/shoes-athleisure-earthy-1.png' %}">
          </div>   
        </div>  
        <!--  -->
        <div class="outfit-holder d-flex flex-column">
          <!-- <img class="hat" src="{% static 'images/Untitled-10.png' %}">
          <img class="one-piece" src="{% static 'images/Untitled-2.png' %}">
          <div class="rel">
            <img class="wrist-piece" src="{% static 'images/Untitled-6.png' %}">
          </div> -->
          <!-- <img class="shoes" src="{% static 'images/Untitled-11.png' %}">   -->

        </div>
        <div class="outfit-holder d-flex flex-column">
          <!-- <img class="hat" src="{% static 'images/Untitled-9.png' %}">
          <img class="one-piece" src="{% static 'images/Untitled.png' %}">
          <div class="rel">
            <img class="wrist-piece" src="{% static 'images/Untitled-6.png' %}">
          </div>
          <img class="shoes" src="{% static 'images/Untitled-13.png' %}">   -->
          
        </div>        
      </div>

      <div class="container-flex">
        <div class = "d-flex flex-row navBar">
          <div class = "col-4 navButton selectedNav">
            <a href =  "/fittingroom/main">
            <p>OUTFIT</p>
            <img src= "{% static 'images/hanger.svg' %}">
            </a>
          </div>
          <div class = "col-4 navButton">
            <a href = "/fittingroom/room">
            <p>ROOM</p>
            <img src= "{% static 'images/curtain.svg' %}">
            </a>
          </div>
          <div class = "col-4 navButton">
            <a href = "/fittingroom/resources">
            <p>RESOURCES</p>
            <img src= "{% static 'images/leaf.svg' %}">
            </a>
          </div>
        </div>
      </div>

    </body>
</html>
