{% load static %}

<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" type="text/css" href="{% static 'fittingroom/vendor/bootstrap/css/bootstrap.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'fittingroom/style.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'fittingroom/pre-select-styles.css' %}" />
      
      <script type="text/javascript" src="{% static 'fittingroom/script.js' %}"></script>
    </head>

    <body>
      <div id="title-holder">

      </div>
      <script type="text/javascript">
        writingTitle();
      </script>
      <!-- make based on selected themes -->
      <div id="main-content" class="d-flex flex-row scrollmenu">
        <div id="outfit-1" class="outfit-holder d-flex flex-column" onClick="preSelectClothesSrc(this.id)">
          <div class="hat">
            <img src="{% static 'images/athleisure/earthy/hat/1.png' %}">
          </div>
          <div class="top">
            <img src="{% static 'images/athleisure/earthy/top/1.png' %}">
          </div>
          <div class="bottom">
            <img src="{% static 'images/athleisure/earthy/bottom/1.png' %}">
          </div> 
          <div class="accessory">
            <img src="{% static 'images/athleisure/earthy/accessory/1.png' %}">
          </div> 
          <div class="shoes">
            <img src="{% static 'images/athleisure/earthy/shoes/1.png' %}">
          </div>                 
        </div>
        
        <div id="outfit-2" class="outfit-holder d-flex flex-column" onClick="preSelectClothesSrc(this.id)">
          <div class="hat">
            <img src="{% static 'images/athleisure/blue/hat/1.png' %}">
          </div>
          <div class="top">
            <img src="{% static 'images/athleisure/blue/top/1.png' %}">
          </div>
          <div class="bottom">
            <img src="{% static 'images/athleisure/blue/bottom/1.png' %}">
          </div> 
          <div class="accessory">
            <img src="{% static 'images/athleisure/blue/accessory/1.png' %}">
          </div> 
          <div class="shoes">
            <img src="{% static 'images/athleisure/blue/shoes/1.png' %}">
          </div>   
        </div>

        <div id="outfit-3" class="outfit-holder d-flex flex-column" onClick="preSelectClothesSrc(this.id)">
          <div class="hat">
            <img src="{% static 'images/streetwear/navy-blue/hat/1.png' %}">
          </div>
          <div class="top">
            <img src="{% static 'images/streetwear/navy-blue/top/5.png' %}">
          </div>
          <div class="bottom">
            <img src="{% static 'images/streetwear/navy-blue/bottom/2.png' %}">
          </div> 
          <div class="accessory">
            <img src="{% static 'images/streetwear/navy-blue/accessory/1.png' %}">
          </div> 
          <div class="shoes">
            <img src="{% static 'images/streetwear/navy-blue/shoes/1.png' %}">
          </div>     
        </div>  

        <div id="outfit-4" class="outfit-holder d-flex flex-column" onClick="preSelectClothesSrc(this.id)">
          <div class="hat">
            <img src="{% static 'images/athleisure/earthy/hat/2.png' %}">
          </div>
          <div class="top">
            <img src="{% static 'images/athleisure/earthy/top/2.png' %}">
          </div>
          <div class="bottom">
            <img src="{% static 'images/athleisure/earthy/bottom/2.png' %}">
          </div> 
          <div class="accessory">
            <img src="{% static 'images/athleisure/earthy/accessory/2.png' %}">
          </div> 
          <div class="shoes">
            <img src="{% static 'images/athleisure/earthy/shoes/2.png' %}">
          </div>  
        </div>  
        <!--  -->
        <div id="outfit-5" class="outfit-holder d-flex flex-column" onClick="preSelectClothesSrc(this.id)">
          <div class="hat">
            <img src="{% static 'images/streetwear/earthy/hat/2.png' %}">
          </div>
          <div class="top">
            <img src="{% static 'images/streetwear/earthy/top/2.png' %}">
          </div>
          <div class="bottom">
            <img src="{% static 'images/streetwear/earthy/bottom/2.png' %}">
          </div> 
          <div class="accessory">
            <img src="{% static 'images/streetwear/earthy/accessory/2.png' %}">
          </div> 
          <div class="shoes">
            <img src="{% static 'images/streetwear/earthy/shoes/2.png' %}">
          </div>  
        </div>

        <div id="outfit-6" class="outfit-holder d-flex flex-column" onClick="preSelectClothesSrc(this.id)">
          <div class="hat">
            <img src="{% static 'images/streetwearearthy/hat/1.png' %}">
          </div>
          <div class="top">
            <img src="{% static 'images/streetwear/earthy/top/5.png' %}">
          </div>
          <div class="bottom">
            <img src="{% static 'images/streetwear/earthy/bottom/2.png' %}">
          </div> 
          <div class="accessory">
            <img src="{% static 'images/streetwear/earthy/accessory/1.png' %}">
          </div> 
          <div class="shoes">
            <img src="{% static 'images/streetwear/earthy/shoes/1.png' %}">
          </div>     
      </div>

      <div class="container-flex">
        <div class = "d-flex flex-row navBar">
          <div class = "col-4 navButton selectedNav">
            <a href =  "/fittingroom/main">
            <p>OUTFIT</p>
            <img src= "{% static 'images/hanger.svg' %}">
            </a>
          </div>
          <div class = "col-4 navButton">
            <a href = "/fittingroom/room">
            <p>ROOM</p>
            <img src= "{% static 'images/curtain.svg' %}">
            </a>
          </div>
          <div class = "col-4 navButton">
            <a href = "/fittingroom/resources">
            <p>RESOURCES</p>
            <img src= "{% static 'images/leaf.svg' %}">
            </a>
          </div>
        </div>
      </div>
    </body>
</html>
