{% load static %}

<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" type="text/css" href="{% static 'fittingroom/vendor/bootstrap/css/bootstrap.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'fittingroom/style.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'fittingroom/select-custom.css' %}" />

	    <script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	    <script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>

      <!-- Warning before leaving -->

      <!-- <script type="text/javascript">
        window.onbeforeunload = confirmExit;
        function confirmExit()
        {
          return "your changes will be lost if not saved.  Are you sure you want to exit this   page?";
        }
      </script> -->
      <script type = "text/javascript">
        var finish_clicked = false;

        function bypassWarning() {
          finish_clicked = true;
        }

        window.onbeforeunload = outfitDone;
        function outfitDone() {
          if (finish_clicked == false) {
            return "your changes will be lost if not saved. Are you sure you want to exit this page?";
          }
          else {
          return;
        }
      }

    

      </script>
    </head>


    <body>
      <div id="main-content" class="d-flex flex-column">
        <div id='dropdownn'>
        <div id="drop-flex" class="d-flex flex-column">
          <h2>Choose more pieces</h2>
          <div id="menu" class="cover dropdownn d-flex flex-column">
            <div class="iconss">
              <img src= "{% static 'images/down-arrow.svg' %}" onClick="toggleStyles()">
            </div>
            <div id="options" class="style-content hidden d-flex flex-row">
              <div class="checklist-holder">
                <label class="container">
                  <p>Head</p>
                  <input type="checkbox" id="headCheck" onClick="dropdownHeadClicked()">
                  <span class="checkmark"></span>
                </label>
                <label class="container">
                  <p>Top</p>
                  <input type="checkbox" id="topCheck" onClick="dropdownTopClicked()">
                  <span class="checkmark"></span>
                </label>
                <label class="container">
                  <p>Accessory</p>
                  <input type="checkbox" id="accessoryCheck" onClick="dropdownAccessoryClicked()">
                  <span class="checkmark"></span>
                </label>
                <label class="container">
                  <p>Bottom</p>
                  <input type="checkbox" id='bottomCheck' onClick="dropdownBottomClicked()">
                  <span class="checkmark"></span>
                </label>
                <label class="container">
                  <p>Footwear</p>
                  <input type="checkbox" id='shoesCheck' onClick="dropdownShoesClicked()">
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="outfit-holder d-flex flex-column">
        <div class="hat hide">
          <img id='hatImg' onClick="hatClicked()" src="{% static 'images/hat.png' %}">
        </div>
        <div class="top">
          <img id='topImg' onClick="topClicked()" src="{% static 'images/shirt.jpg' %}">
        </div>
        <div class="bottom">
          <img id='bottomImg' onClick="bottomClicked()" src="{% static 'images/jean.webp' %}">
        </div>
        <div class="accessory">
          <img id='accessoryImg' onClick="accessoryClicked()" src="{% static 'images/Untitled-6.png' %}">
        </div> 
        <div class="shoes">
          <img id='shoesImg' onClick="shoeClicked()" src="{% static 'images/Untitled-13.png' %}">  
        </div>                 
      </div>

        <a id="finish" class="btn finButton" role="button" onClick="bypassWarning();urlClothesSrc();">
            Finish!
        </a>   
      </div>
      <div id="pieceTab" class="pieceTab d-flex flex-column">
          <div id="hatTab">
            <img id="hat" onClick="hatInTabClicked('hat')" src="{% static 'images/hat.png' %}"> 
            <img id="hat1" onClick="hatInTabClicked('hat1')" src="{% static 'images/fandora.jpeg' %}"> 
            <img id="hat2" onClick="hatInTabClicked('hat2')" src="{% static 'images/hat2.jpg' %}"> 
            <img id="hat3" onClick="hatInTabClicked('hat3')" src="{% static 'images/hat1.webp' %}"> 
          </div>
          <div id='topTab'> 
            <img id="top" onClick="topInTabClicked('top')" src="{% static 'images/shirt.jpg' %}">
            <img id="top1" onClick="topInTabClicked('top1')" src="{% static 'images/shirt1.jpg' %}"> 
            <img id="top2" onClick="topInTabClicked('top2')" src="{% static 'images/shirt2.jpg' %}"> 
            <img id="top3" onClick="topInTabClicked('top3')" src="{% static 'images/shirt3.webp' %}"> 
          </div>
          <div id="bottomTab">
            <img id="bottom" onClick="bottomInTabClicked('bottom')" src="{% static 'images/jean.webp' %}"> 
            <img id="bottom1" onClick="bottomInTabClicked('bottom1')" src="{% static 'images/pants1.jpg' %}"> 
            <img id="bottom2" onClick="bottomInTabClicked('bottom2')" src="{% static 'images/pants2.jpg' %}"> 
            <img id="bottom3" onClick="bottomInTabClicked('bottom3')" src="{% static 'images/pant3.webp' %}"> 
          </div>
          <div id="accessoryTab">
            <img id="hat" src="{% static 'images/hat.png' %}"> 
            <img id="fadora" src="{% static 'images/fandora.jpeg' %}"> 
          </div>
          <div id="shoesTab">
            <img id="hat" src="{% static 'images/hat.png' %}"> 
            <img id="fadora" src="{% static 'images/fandora.jpeg' %}"> 
          </div>
      </div>
      <div class="container-flex">
        <div class = "d-flex flex-row navBar">
          <div class = "col-4 navButton selectedNav">
            <a href =  "/fittingroom/main">
            <p>OUTFIT</p>
            <img src= "{% static 'images/hanger.svg' %}">
            </a>
          </div>
          <div class = "col-4 navButton">
            <a href = "/fittingroom/room">
            <p>ROOM</p>
            <img src= "{% static 'images/curtain.svg' %}">
            </a>
          </div>
          <div class = "col-4 navButton">
            <a href = "/fittingroom/resources">
            <p>RESOURCES</p>
            <img src= "{% static 'images/leaf.svg' %}">
            </a>
          </div>
        </div>
      </div>

      <script type="text/javascript" src="{% static 'fittingroom/script.js' %}"></script>
      <script language = "javascript">
        function hatClicked() {
          var headItem = document.getElementById("hatImg");
          var topItem = document.getElementById("topImg");
          var bottomItem = document.getElementById("bottomImg");
          var extraItem = document.getElementById("accessoryImg");
          var shoesItem = document.getElementById("shoesImg");
          var hatTab = document.getElementById("hatTab")
          var pieceTab = document.getElementById("pieceTab");
          headItem.style.borderStyle = "solid";
          topItem.style.borderStyle = "none";
          bottomItem.style.borderStyle = "none";
          extraItem.style.borderStyle = "none";
          shoesItem.style.borderStyle = "none";
          hatTab.style.display = 'initial';
          topTab.style.display = 'none';
          bottomTab.style.display = 'none';
          accessoryTab.style.display = 'none';
          shoesTab.style.display = 'none';
          document.getElementById("hatTab").getElementsByTagName('img')[0].style.borderStyle = 'solid';
        }

        function topClicked() {
          var headItem = document.getElementById("hatImg");
          var topItem = document.getElementById("topImg");
          var bottomItem = document.getElementById("bottomImg");
          var extraItem = document.getElementById("accessoryImg");
          var shoesItem = document.getElementById("shoesImg");
          var pieceTab = document.getElementById("pieceTab");
          headItem.style.borderStyle = "none";
          topItem.style.borderStyle = "solid";
          bottomItem.style.borderStyle = "none";
          extraItem.style.borderStyle = "none";
          shoesItem.style.borderStyle = "none";
          hatTab.style.display = 'none';
          topTab.style.display = 'initial';
          bottomTab.style.display = 'none';
          accessoryTab.style.display = 'none';
          shoesTab.style.display = 'none';
          document.getElementById("topTab").getElementsByTagName('img')[0].style.borderStyle = 'solid';
        }
        function bottomClicked() {
          var headItem = document.getElementById("hatImg");
          var topItem = document.getElementById("topImg");
          var bottomItem = document.getElementById("bottomImg");
          var extraItem = document.getElementById("accessoryImg");
          var shoesItem = document.getElementById("shoesImg");
          var pieceTab = document.getElementById("pieceTab");
          headItem.style.borderStyle = "none";
          topItem.style.borderStyle = "none";
          bottomItem.style.borderStyle = "solid";
          extraItem.style.borderStyle = "none";
          shoesItem.style.borderStyle = "none";
          hatTab.style.display = 'none';
          topTab.style.display = 'none';
          bottomTab.style.display = 'initial';
          accessoryTab.style.display = 'none';
          shoesTab.style.display = 'none';
          document.getElementById("bottomTab").getElementsByTagName('img')[0].style.borderStyle = 'solid';
        }
        function accessoryClicked() {
          var headItem = document.getElementById("hatImg");
          var topItem = document.getElementById("topImg");
          var bottomItem = document.getElementById("bottomImg");
          var extraItem = document.getElementById("accessoryImg");
          var shoesItem = document.getElementById("shoesImg");
          var pieceTab = document.getElementById("pieceTab");
          headItem.style.borderStyle = "none";
          topItem.style.borderStyle = "none";
          bottomItem.style.borderStyle = "none";
          extraItem.style.borderStyle = "solid";
          shoesItem.style.borderStyle = "none";
          hatTab.style.display = 'none';
          topTab.style.display = 'none';
          bottomTab.style.display = 'none';
          accessoryTab.style.display = 'initial';
          shoesTab.style.display = 'none';
          document.getElementById("accessoryTab").getElementsByTagName('img')[0].style.borderStyle = 'solid';
        }
        function shoeClicked() {
          var headItem = document.getElementById("hatImg");
          var topItem = document.getElementById("topImg");
          var bottomItem = document.getElementById("bottomImg");
          var extraItem = document.getElementById("accessoryImg");
          var shoesItem = document.getElementById("shoesImg");
          var pieceTab = document.getElementById("pieceTab");
          headItem.style.borderStyle = "none";
          topItem.style.borderStyle = "none";
          bottomItem.style.borderStyle = "none";
          extraItem.style.borderStyle = "none";
          shoesItem.style.borderStyle = "solid";
          hatTab.style.display = 'none';
          topTab.style.display = 'none';
          bottomTab.style.display = 'none';
          accessoryTab.style.display = 'none';
          shoesTab.style.display = 'initial';
          document.getElementById("shoesTab").getElementsByTagName('img')[0].style.borderStyle = 'solid';
         }

         function hatInTabClicked(clicked_hat) {
          var hatTab_img = document.getElementById("hatTab").getElementsByTagName('img');
          
          for (let i = 0; i < hatTab_img.length; i++) {
            hatTab_img[i].style.borderStyle = "none";
          }
          var hatTab_clicked = document.getElementById(clicked_hat);
          hatTab_clicked.style.borderStyle = "solid";
          var outfit_hat = document.getElementById("hatImg");
          outfit_hat.src = hatTab_clicked.src;
         }

          function topInTabClicked(clicked_top) {
          var topTab_img = document.getElementById("topTab").getElementsByTagName('img');
          
          for (let i = 0; i < topTab_img.length; i++) {
            topTab_img[i].style.borderStyle = "none";
          }
          var topTab_clicked = document.getElementById(clicked_top);
          topTab_clicked.style.borderStyle = "solid";
          var outfit_top = document.getElementById("topImg");
          outfit_top.src = topTab_clicked.src;
         }

          function bottomInTabClicked(clicked_bottom) {
          var bottomTab_img = document.getElementById("bottomTab").getElementsByTagName('img');
          
          for (let i = 0; i < bottomTab_img.length; i++) {
            bottomTab_img[i].style.borderStyle = "none";
          }
          var bottomTab_clicked = document.getElementById(clicked_bottom);
          bottomTab_clicked.style.borderStyle = "solid";
          var outfit_bottom = document.getElementById("bottomImg");
          outfit_bottom.src = bottomTab_clicked.src;
         }

          function accessoryInTabClicked(clicked_accessory) {
          var accessoryTab_img = document.getElementById("accessoryTab").getElementsByTagName('img');
          
          for (let i = 0; i < accessoryTab_img.length; i++) {
            accessoryTab_img[i].style.borderStyle = "none";
          }
          var accessoryTab_clicked = document.getElementById(clicked_accessory);
          accessoryTab_clicked.style.borderStyle = "solid";
          var outfit_top = document.getElementById("accessoryImg");
          outfit_top.src = accessoryTab_clicked.src;
         }

          function shoesInTabClicked(clicked_shoes) {
          var shoesTab_img = document.getElementById("shoesTab").getElementsByTagName('img');
          
          for (let i = 0; i < shoesTab_img.length; i++) {
            shoesTab_img[i].style.borderStyle = "none";
          }
          var shoesTab_clicked = document.getElementById(clicked_shoes);
          shoesTab_clicked.style.borderStyle = "solid";
          var outfit_bottom = document.getElementById("shoesImg");
          outfit_bottom.src = shoesTab_clicked.src;
         }

          function dropdownHeadClicked() {
           var hatBox = document.getElementById('hatImg');
           var checkBox = document.getElementById('headCheck')
           if (checkBox.checked) {
            hatBox.style.visibility = 'visible'
           }
           else {
            hatBox.style.visibility = 'hidden'
           }
         }

          function dropdownTopClicked() {
           var topBox = document.getElementById('topImg');
           var checkBox = document.getElementById('topCheck');
           if (checkBox.checked) {
            topBox.style.visibility = 'visible';
           }
           else {
            topBox.style.visibility = 'hidden';
           }
         }
         
         function dropdownAccessoryClicked() {
           var accessoryBox = document.getElementById('accessoryImg');
           var checkBox = document.getElementById('accessoryCheck');
           if (checkBox.checked) {
            accessoryBox.style.visibility = 'visible';
           }
           else {
            accessoryBox.style.visibility = 'hidden';
           }
         }
         function dropdownBottomClicked() {
           var bottomBox = document.getElementById('bottomImg');
           var checkBox = document.getElementById('bottomCheck');
           if (checkBox.checked) {
            bottomBox.style.visibility = 'visible';
           }
           else {
            bottomBox.style.visibility = 'hidden';
           }
         }
         function dropdownShoesClicked() {
           var shoesBox = document.getElementById('shoesImg');
           var checkBox = document.getElementById('shoesCheck');
           if (checkBox.checked) {
            shoesBox.style.visibility = 'visible';
           }
           else {
            shoesBox.style.visibility = 'hidden';
           }
         }

         function urlClothesSrc() {
          var url = window.location.origin + '/fittingroom/clothing-details';
          var startString = 'http://localhost:8000/static/images/'
          var hat = document.getElementById("hatImg").src;
          var top = document.getElementById("topImg").src;
          var bottom = document.getElementById("bottomImg").src;
          var accessory = document.getElementById("accessoryImg").src;
          var shoes = document.getElementById("shoesImg").src;
          var hat_sliced = hat.slice(startString.length);
          var top_sliced = top.slice(startString.length);
          var bottom_sliced = bottom.slice(startString.length);
          var accessory_sliced = accessory.slice(startString.length);
          var shoes_sliced = shoes.slice(startString.length);
          var hatCheck = document.getElementById('headCheck');
          var topCheck = document.getElementById('topCheck');
          var bottomCheck = document.getElementById('bottomCheck');
          var accessoryCheck = document.getElementById('accessoryCheck');
          var shoesCheck = document.getElementById('shoesCheck');
          if (!hatCheck.checked) {
            hat_sliced = null;
          }
          
          if (!topCheck.checked) {
            top_sliced = null;
          }
          
          if (!bottomCheck.checked) {
            bottom_sliced = null;
          }

          if (!accessoryCheck.checked) {
            accessory_sliced = null;
          }

          if (!shoesCheck.checked) {
            shoes_sliced = null;
          }
          var url_with_info = url + '?&hat=' + hat_sliced + '&top=' + top_sliced + '&bottom=' + bottom_sliced + '&accessory=' + accessory_sliced + '&shoes=' + shoes_sliced;
          window.location.replace(url_with_info);
         }

      </script>
    </body>
    
</html>
